#Btn2{
    position: relative;
    display: inline-flex;
    padding: 20px 20px;
    background-color: transparent;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;
    transition: all 1s ease;
    border-radius: 20px;
}

#Btn2::before{
    content: "";
    position: absolute;
    top:var(--y);
    left:var(--x);
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #B9FF66;
    transition: width 0.6s ease, height 0.6s ease;
}

#Btn2:hover::before{
    width: 450px;
    height: 450px;
}

#Btn2:hover span{
    color: black;
}

#Btn2 span{
    position: relative;
    z-index: 1;
    color: #111;
    font-weight: 600;
    font-size: large;
    transition: all 0.5s ease;
}

#Btn2:hover{
    box-shadow: 0px 0px 1000px 0px whitesmoke;
}
